{% extends "base.html" %}

{% block body %}
    <h4>List Phrases</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            {% for phrase in content %}
            <tr>
                <td>{{ phrase.phrase_num }}</td>
                <td><a href="{{ phrase.url }}">{{ phrase.phrase_text }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
